
-i = 1;


mixin quiz__icon-phone
    svg(viewBox='0 0 511.999 511.999', width='22', height='22')
        g.quiz__form-icon-svg
            path(d='M498.827,377.633l-63.649-63.649c-17.548-17.547-46.102-17.547-63.649,0l-28.931,28.931\
            c-13.294,13.294-34.926,13.29-48.215,0.005l-125.4-125.507c-13.325-13.325-13.327-34.892,0-48.219\
            c4.66-4.66,18.041-18.041,28.931-28.931c17.471-17.47,17.715-45.935-0.017-63.665l-63.632-63.432\
            C116.717-4.381,88.164-4.381,70.663,13.12C57.567,26.102,53.343,30.29,47.471,36.111c-63.28,63.279-63.28,166.242-0.003,229.519\
            l198.692,198.796c63.428,63.429,166.088,63.434,229.521,0l23.146-23.145C516.375,423.733,516.375,395.181,498.827,377.633z\
            M91.833,34.382c5.849-5.849,15.365-5.85,21.233,0.016l63.632,63.432c5.863,5.863,5.863,15.352,0,21.216l-10.609,10.608\
            l-84.81-84.81L91.833,34.382z M267.38,443.213L68.687,244.415c-48.958-48.958-51.649-125.833-8.276-178.006l84.564,84.564\
            c-22.22,25.189-21.294,63.572,2.787,87.653l125.396,125.501c0.001,0.001,0.003,0.003,0.004,0.004\
            c24.055,24.056,62.436,25.042,87.656,2.792l84.566,84.566C393.377,494.787,316.675,492.508,267.38,443.213z M477.612,420.065\
            l-10.609,10.609l-84.865-84.866l10.607-10.608c5.85-5.849,15.367-5.85,21.217,0l63.649,63.649\
            C483.461,404.699,483.461,414.217,477.612,420.065z')

mixin quiz__icon-name
    svg(viewBox='-42 0 512 512', xmlns='http://www.w3.org/2000/svg', width='22', height='22')
        g.quiz__form-icon-svg
            path(d='M210.35 246.63c33.88 0 63.22-12.15 87.2-36.13 23.97-23.97 36.12-53.3 36.12-87.19 0-33.87-12.15-63.2-36.13-87.19C273.57 12.15 244.23 0 210.35 0c-33.89 0-63.22 12.15-87.19 36.13s-36.13 53.3-36.13 87.18c0 33.89 12.16 63.23 36.13 87.2 23.98 23.97 53.32 36.12 87.2 36.12zM144.38 57.34C162.78 38.94 184.35 30 210.35 30s47.58 8.95 65.98 27.34c18.4 18.4 27.34 39.98 27.34 65.97 0 26-8.95 47.58-27.34 65.98-18.4 18.4-39.98 27.34-65.98 27.34-26 0-47.57-8.95-65.97-27.34-18.4-18.4-27.34-39.98-27.34-65.98 0-25.99 8.94-47.57 27.34-65.97zm0 0M426.13 393.7a304.6 304.6 0 00-4.15-32.35 254.9 254.9 0 00-7.96-32.53 160.68 160.68 0 00-13.37-30.33 114.36 114.36 0 00-20.16-26.28c-7.96-7.61-17.7-13.73-28.97-18.2-11.22-4.44-23.66-6.69-36.97-6.69-5.23 0-10.28 2.14-20.05 8.5-6 3.92-13.03 8.45-20.87 13.46-6.71 4.27-15.8 8.28-27.02 11.9a107.28 107.28 0 01-33.04 5.34c-10.97 0-22.09-1.8-33.05-5.34-11.2-3.62-20.3-7.62-27-11.9-7.76-4.96-14.8-9.5-20.9-13.46-9.75-6.36-14.8-8.5-20.03-8.5-13.3 0-25.75 2.25-36.97 6.7-11.26 4.45-21 10.57-28.97 18.2a114.38 114.38 0 00-20.15 26.27c-5.56 9.78-10.06 19.99-13.38 30.34a255.5 255.5 0 00-7.95 32.52 302.52 302.52 0 00-4.15 32.36A438.15 438.15 0 000 423.95c0 26.73 8.5 48.36 25.25 64.32C41.8 504.02 63.69 512 90.32 512h246.53c26.62 0 48.5-7.98 65.06-23.73 16.76-15.95 25.25-37.59 25.25-64.32 0-10.32-.35-20.5-1.03-30.25zm-44.9 72.83c-10.94 10.4-25.46 15.47-44.39 15.47H90.32c-18.94 0-33.45-5.06-44.38-15.46C35.2 456.33 30 442.39 30 423.94c0-9.58.32-19.06.95-28.15.62-8.92 1.88-18.72 3.75-29.14a225.34 225.34 0 017-28.67 131.05 131.05 0 0110.88-24.67 84.78 84.78 0 0114.82-19.42c5.14-4.93 11.63-8.96 19.27-11.98 7.06-2.8 15-4.33 23.63-4.56 1.05.56 2.92 1.63 5.95 3.6 6.17 4.02 13.28 8.6 21.14 13.63 8.86 5.65 20.27 10.75 33.9 15.15a137.3 137.3 0 0042.28 6.8c14.11 0 28.34-2.3 42.27-6.8 13.65-4.4 25.06-9.5 33.93-15.16 8.04-5.14 14.95-9.6 21.12-13.62a81.42 81.42 0 015.95-3.6c8.63.23 16.57 1.76 23.64 4.56 7.64 3.02 14.12 7.06 19.27 11.98a84.55 84.55 0 0114.81 19.42c4.55 8 8.21 16.3 10.89 24.66 2.8 8.75 5.16 18.4 7 28.68a275.16 275.16 0 013.75 29.14v.01c.64 9.06.96 18.53.96 28.15 0 18.45-5.21 32.38-15.94 42.58zm0 0')



mixin quiz__icon-message
    svg(viewBox='0 0 469.331 469.331', width='22', height='22')
        g.quiz__form-icon-svg
            path(d='M438.931,30.403c-40.4-40.5-106.1-40.5-146.5,0l-268.6,268.5c-2.1,2.1-3.4,4.8-3.8,7.7l-19.9,147.4   c-0.6,4.2,0.9,8.4,3.8,11.3c2.5,2.5,6,4,9.5,4c0.6,0,1.2,0,1.8-0.1l88.8-12c7.4-1,12.6-7.8,11.6-15.2c-1-7.4-7.8-12.6-15.2-11.6   l-71.2,9.6l13.9-102.8l108.2,108.2c2.5,2.5,6,4,9.5,4s7-1.4,9.5-4l268.6-268.5c19.6-19.6,30.4-45.6,30.4-73.3   S458.531,49.903,438.931,30.403z M297.631,63.403l45.1,45.1l-245.1,245.1l-45.1-45.1L297.631,63.403z M160.931,416.803l-44.1-44.1   l245.1-245.1l44.1,44.1L160.931,416.803z M424.831,152.403l-107.9-107.9c13.7-11.3,30.8-17.5,48.8-17.5c20.5,0,39.7,8,54.2,22.4   s22.4,33.7,22.4,54.2C442.331,121.703,436.131,138.703,424.831,152.403z')


mixin quizTitle(title)
    .quiz__item-title-wrapper
        p.quiz__item-title
            span!= title



mixin pastYearQuiz
    script.
        var d = new Date();
        document.write(' в ' + d.getFullYear() + " году");


mixin quiz
    #quiz.quiz-modal
        form.quiz_content
            .quiz_content-wrapper
                .quiz_btn-close#closeQuiz

                .quiz_block
                    //-Шапка
                    .quiz__header
                        p.quiz__header-title В конце опроса вас ждёт подарок!
                        .quiz__header-progressBar
                            .quiz__header-progressBar-done#progressBarDone
                            img.quiz__header-progressBar-img.lazy(data-src='img/quiz/icon-gift.svg', alt='подарок')


                    //-Левя часть
                    .quiz_block-left
                        .quiz__left-stage Шаг &#32;
                            span.quiz__left-stage-num.quizStageNum 1
                            |&#32;/&#32;
                            span.quiz__left-stage-length.quizStageLength 6

                        .quiz__left-gift
                            .quiz__left-gift-title
                                img.quiz__left-gift-title-img.lazy(data-src='img/quiz/icon-gift.svg', alt='подарок')
                                p.quiz__left-gift-title-info В конце опроса вас
                                    br
                                    |&#32; ждёт подарок!

                            //-Часы подарок
                            .quiz__left-gift-paginator
                                .quiz__left-gift-paginator-pie-wrapper#quizGiftPaginator
                                    .quiz__left-gift-paginator-pie#quizGiftPaginatorPie
                                        div#quizGiftPaginatorCircleBlock
                                            div#quizGiftPaginatorCircle
                                img.quiz__left-gift-paginator-img(src='img/quiz/gift.png', alt='подарок')
                            img.quiz__left-gift-img.lazy(data-src='img/quiz/test2.png', alt='девушка показывает на подарок')


                    .quiz_block-right-wrapper
                        .quiz_block-right
                            h2.quiz__right-title#quizTitle Ответь на 8 вопросов и получи бесплатный аудит своего сайта со стратегией продвижения на основании конкурентного анализа
                            .quiz__right-steps

                                //-1 Шаг
                                .quiz__right-step.active
                                    h3.quiz__right-step-title
                                        span #{i++}. &#32;
                                        |Введите адрес вашего сайта
                                    .quiz__right-step-wrapper
                                        label.quiz__form-input-group.site
                                            input.quiz__form-input.quiz__form-site(name='quiz_site', placeholder='Например, site.by', type='text')

                                //-2 Шаг
                                .quiz__right-step
                                    h3.quiz__right-step-title
                                        span #{i++}. &#32;
                                        |Укажите возраст сайта

                                    .quiz__right-step-wrapper
                                        .quiz__right-step-items
                                            label.quiz__item.quiz__item-column.active
                                                input.radio_btn(name='quiz_age', type='radio', value='Молодой (до 1 года)', checked)
                                                .quiz__item-img.quiz__item-img-column
                                                    img.lazy-quiz(data-src='img/quiz/age-1.jpg', alt='дерево')
                                                +quizTitle('Молодой (до 1 года)')
                                                .quiz__item-check.quiz__item-check-column

                                            label.quiz__item.quiz__item-column
                                                input.radio_btn(name='quiz_age', type='radio', value='Бывалый (более 3 лет)')
                                                .quiz__item-img.quiz__item-img-column
                                                    img.lazy-quiz(data-src='img/quiz/age-2.jpg', alt='дерево')
                                                +quizTitle('Бывалый (более 3 лет)')
                                                .quiz__item-check.quiz__item-check-column


                                //-3 Шаг
                                .quiz__right-step
                                    h3.quiz__right-step-title
                                        span #{i++}. &#32;
                                        |Укажите тип вашего сайта

                                    .quiz__right-step-wrapper
                                        .quiz__right-step-items
                                            label.quiz__item.quiz__item-row.active
                                                input.radio_btn(name='quiz_site_type', type='radio', value='Сайт услуг', checked)
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/site_type-1.jpg', alt='Сайт услуг')
                                                +quizTitle('Сайт услуг')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row
                                                input.radio_btn(name='quiz_site_type', type='radio', value='Лендинг')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/site_type-2.jpg', alt='Лендинг')
                                                +quizTitle('Лендинг')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row
                                                input.radio_btn(name='quiz_site_type', type='radio', value='Корпоративный сайт')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/site_type-3.jpg', alt='Корпоративный сайт')
                                                +quizTitle('Корпоративный сайт')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row
                                                input.radio_btn(name='quiz_site_type', type='radio', value='Интернет магазин до 700 товаров')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/site_type-4.jpg', alt='Интернет магазин')
                                                +quizTitle('Интернет магазин до 700 товаров')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row
                                                input.radio_btn(name='quiz_site_type', type='radio', value='Интернет магазин более 700 товаров')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/site_type-5.jpg', alt='Интернет магазин')
                                                +quizTitle('Интернет магазин более 700 товаров')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row
                                                input.radio_btn(name='quiz_site_type', type='radio', value='Информационный портал')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/site_type-6.jpg', alt='Информационный портал')
                                                +quizTitle('Информационный портал')
                                                .quiz__item-check.quiz__item-check-row


                                //-4 Шаг
                                .quiz__right-step
                                    h3.quiz__right-step-title
                                        span #{i++}. &#32;
                                        |Какой конечный результат вы хотите получить?

                                    .quiz__right-step-wrapper
                                        .quiz__right-step-items
                                            label.quiz__item.quiz__item-row.quiz__item-checkbox.active
                                                input.check_btn(name='quiz_result[]', type='checkbox', value='Попадание запросов в топ-10', checked)
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/result-1.png', alt='топ-10')
                                                +quizTitle('Попадание запросов в топ-10')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row.quiz__item-checkbox
                                                input.check_btn(name='quiz_result[]', type='checkbox', value='Увеличение посещаемости из поисковых систем')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/result-2.png', alt='Трафик посещаемости')
                                                +quizTitle('Увеличение посещаемости из поисковых систем')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row.quiz__item-checkbox
                                                input.check_btn(name='quiz_result[]', type='checkbox', value='Увеличение заказов или заявок')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/result-3.png', alt='Увеличение заказов или заявок')
                                                +quizTitle('Увеличение заказов или заявок')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row.quiz__item-checkbox
                                                input.check_btn(name='quiz_result[]', type='checkbox', value='Реклама бренда')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/result-4.png', alt='Реклама бренда')
                                                +quizTitle('Реклама бренда')
                                                .quiz__item-check.quiz__item-check-row



                                //-5 Шаг
                                .quiz__right-step
                                    h3.quiz__right-step-title
                                        span #{i++}. &#32;
                                        |Какая сейчас посещаемость на сайте?

                                    .quiz__right-step-wrapper
                                        .quiz__right-step-items
                                            label.quiz__item.quiz__item-row.active
                                                input.radio_btn(name='quiz_traffic', type='radio', value='0-50 чел./сут.', checked)
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/traffic-1.png', alt='0-50 чел./сут.')
                                                +quizTitle('От 0 до 50 чел. в сутки')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row
                                                input.radio_btn(name='quiz_traffic', type='radio', value='50-300 чел./сут.')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/traffic-2.png', alt='50-300 чел./сут.')
                                                +quizTitle('От 50 до 300 чел. в сутки')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row
                                                input.radio_btn(name='quiz_traffic', type='radio', value='от 500 чел./сут.')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/traffic-3.png', alt='Увеличение заказов или заявок')
                                                +quizTitle('От 500 чел. в сутки')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row
                                                input.radio_btn(name='quiz_traffic', type='radio', value='Не знаю')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/traffic-4.png', alt='не знаю')
                                                +quizTitle('Не знаю')
                                                .quiz__item-check.quiz__item-check-row




                                //-6 Шаг
                                .quiz__right-step
                                    h3.quiz__right-step-title
                                        span #{i++}. &#32;
                                        |Какие варианты рекламы вы уже пробовали?

                                    .quiz__right-step-wrapper
                                        .quiz__right-step-items
                                            label.quiz__item.quiz__item-row.quiz__item-checkbox.active
                                                input.check_btn(name='quiz_advert[]', type='checkbox', value='SEO продвижение', checked)
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/tried-1.png', alt='SEO продвижение')
                                                +quizTitle('SEO продвижение')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row.quiz__item-checkbox
                                                input.check_btn(name='quiz_advert[]', type='checkbox', value='Контекстная реклама')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/tried-2.png', alt='Контекстная реклама')
                                                +quizTitle('Контекстная реклама')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row.quiz__item-checkbox
                                                input.check_btn(name='quiz_advert[]', type='checkbox', value='SMM реклама')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/tried-3.png', alt='SMM реклама')
                                                +quizTitle('SMM реклама')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row.quiz__item-checkbox
                                                input.check_btn(name='quiz_advert[]', type='checkbox', value='E-mail маркетинг')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/tried-4.png', alt='E-mail маркетинг')
                                                +quizTitle('E-mail маркетинг')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row.quiz__item-checkbox
                                                input.check_btn(name='quiz_advert[]', type='checkbox', value='Баннерная реклама')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/tried-5.png', alt='Баннерная реклама')
                                                +quizTitle('Баннерная реклама')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row.quiz__item-checkbox
                                                input.check_btn(name='quiz_advert[]', type='checkbox', value='Другое')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/tried-6.png', alt='Другое')
                                                +quizTitle('Другое')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row.quiz__item-checkbox
                                                input.check_btn(name='quiz_advert[]', type='checkbox', value='Пока не продвигали сайт')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/tried-7.png', alt='Пока не продвигали сайт')
                                                +quizTitle('Пока не продвигали сайт')
                                                .quiz__item-check.quiz__item-check-row



                                //-7 Шаг
                                .quiz__right-step
                                    h3.quiz__right-step-title
                                        span #{i++}. &#32;
                                        |Выберите гарантированный подарок

                                    .quiz__right-step-wrapper
                                        .quiz__right-step-items
                                            label.quiz__item.quiz__item-row.active
                                                input.radio_btn(name='quiz_gift', type='radio', value='Скидку 20% на подключение CRM системы', checked)
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/gift-1.png', alt='CRM')
                                                +quizTitle('Скидку 20% на подключение CRM системы')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row
                                                input.radio_btn(name='quiz_gift', type='radio', value='Купон Яндекс Директ номиналом 100 руб на показ рекламы')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/gift-2.png', alt='Купон Яндекс Директ')
                                                +quizTitle('Купон Яндекс Директ номиналом 100 руб на показ рекламы')
                                                .quiz__item-check.quiz__item-check-row

                                            label.quiz__item.quiz__item-row
                                                input.radio_btn(name='quiz_gift', type='radio', value='Безлимитный пожизненный доступ к Google Drive')
                                                .quiz__item-img
                                                    img.lazy-quiz(data-src='img/quiz/gift-3.png', alt='Google Drive')
                                                +quizTitle('Безлимитный пожизненный доступ к Google Drive')
                                                .quiz__item-check.quiz__item-check-row



                                //-8 Шаг
                                .quiz__right-step
                                    .quiz__progress-wrapper#quizProgress
                                        .quiz__progress
                                            .quiz__progress-item.quiz__progress-item-left
                                                span.quiz__progress-bar
                                            .quiz__progress-item.quiz__progress-item-right
                                                span.quiz__progress-bar
                                            .quiz__progress-value#quizProgressVal 0%


                                    .quiz__form#quizForm
                                        .quiz__form-title Мы точно знаем, какие факторы влияют
                                            br
                                            |&#32; на позиции сайта
                                            +pastYearQuiz

                                        .quiz__form-subtitle Мы уже подготовили расчёт стоимости для вас, &#32;
                                            br
                                            span укажите свой номер телефона и наш менеджер подготовит для Вас коммерческое предложение

                                        .quiz__form-wrapper
                                            .quiz__form-items
                                                input(type='hidden', name='form_name', value='Получить бесплатный аудит')
                                                input(type='hidden', name='form_quiz', value='Получить бесплатный аудит')
                                                label.quiz__form-input-group
                                                    .quiz__form-icon
                                                        +quiz__icon-name
                                                    input.quiz__form-input.quiz__form-name(name='name', placeholder='Впишите имя', type='text')

                                                label.quiz__form-input-group
                                                    .quiz__form-icon
                                                        +quiz__icon-phone
                                                    input.quiz__form-input.quiz__form-phone(name='phone', placeholder='Впишите телефон', type='tel')

                                                label.quiz__form-input-group.message
                                                    .quiz__form-icon
                                                        +quiz__icon-message
                                                    textarea.quiz__form-input.quiz__form-message(name='message', placeholder='Впишите сообщение')

                                                button(type='submit').quiz__form-btn Получить бесплатный аудит



                            //-Кнопки
                            .quiz__nav
                                .quiz__nav-btn.quiz__nav-btn-prev#quizBtnPrev ← &#32;
                                    span Предыдущий шаг
                                .quiz__nav-stage Шаг &#32;
                                    span.quiz__nav-stage-num.quizStageNum 1
                                    |&#32;/&#32;
                                    span.quiz__nav-stage-length.quizStageLength 6

                                .quiz__nav-btn.quiz__nav-btn-next#quizBtnNext
                                    span Следующий шаг
                                    |&#32; →



